@font-face {
  font-family: 'customfont';
  src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype'), /* Modern Browsers */
       url('./assets/fonts/Roboto-Regular.ttf') format('truetype'); /* Older Browsers */
  font-weight: normal;
  font-style: normal;
}